*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

header{
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
.logo-buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.navigation-buttons ul{
    display: flex;
    list-style: none;
}
.navigation-buttons li{
    transition-duration: 0.4s;
}
.navigation-buttons a{
    transition-duration: 0.4s;
}
.navigation-buttons ul li a{
    margin-right: 25px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 900;
}
.navigation-buttons li:hover{
    transition-duration: 0.4s;
    transform: scale(1.12);
}
.navigation-buttons a:hover{
    color: black;
    transition-duration: 0.4s;
}
.logo{
    font-size: 30px;
    font-family: 'Ga Maamli', sans-serif;
    font-weight: 900;
    text-decoration: none;
    color: black;
    transition-duration: 0.8s;
}
.logo:hover{
    transition-duration: 0.8s;
    margin-left: 30px;
}

.main-container{
    height: auto;
}
.container1{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-wrap{
    height: 90vh;
    width: 80%;
    display: flex;
    align-items: center;
}
.introduction{
    height: 50vh;
    width: 50%;
}

.introduction h4{
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 14px;
}
.introduction h1{
    font-size: 90px;
    line-height: 0.8;
}
.introduction p{
    font-size: 18px;
    font-weight: 300;
}
.introduction button{
    border: solid 2px green;
    background-color: black;
    color: white;
    width: 40%;
    height: 40px;
    font-size: 17px;
    font-weight: 200;
    margin: 50px 150px;
    cursor: pointer;
}
.home-profile img{
    height: 90vh;
}

.container2{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.about-container{
    height: 80vh;
    width: 70%;
    display: flex;
    align-items: center;
}
.who-container{
    height: 60vh;
    width: 50%;
    padding-top: 20px;
    line-height: 1.5;
}
.who-container h1{
    font-size: 60px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 500;
    margin-bottom: 50px;
}
.who-container p{
    font-weight: 400;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
.about-profile img{
    height: 90vh;
}

.container3{
    height: 85vh;
    display: flex;
    justify-content: center;
}
.container3 h1{
    font-size: 40px;
    font-weight: 200;
}
.do-things{
    width: 50%;
    display: flex;
    margin-top: 70px;
}
.things-container{
    width: 20%;
}
.things-container h2{
    font-size: 26px;
    font-weight: 900;
}
.things-container2{
    width: 80%;
    padding-left: 20px;
    line-height: 1.1;
}
.things-container2 h4{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
}
.things-container2 p{
    font-size: 19px;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
}
.projects{
    margin-bottom: 220px;
}
.hobbies-container{
    margin-top: 50px;
}
.hobbies-container h4{
    line-height: 0.4;
}
.hobbies{
    margin-bottom: 100px;
}
.talents-container h4{
    line-height: 0.4;
}
.talents-container{
    margin-top: 60px;
}

.container4{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(picture5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container4-text{
    width: 70%;
    text-align: center;
    text-shadow: 20px 20px 10px green;
    line-height: 1;
}
.container4 h1{
    font-size: 46px;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
}
.container4 h3{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
}

.container5{
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    background-color: black;
}
.projects-container{
    width: 80%;
    height: 100vh;
}
.projects-row1{
    height: 27vh;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
}
.projects-row1 img{
    height: 17vh;
}
.cloning-work-container{
    height: 20vh;
    width: 49%;
    box-shadow: inset 10px 10px 200px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    border: solid 1px white;
    cursor: pointer;
}
.cloning-work-container p{
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 20px;
    font-weight: 400;
}
.projects-row2{
    height: 27vh;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}
.projects-row2 img{
    height: 5vh;
}
.business-websites-container{
    height: 20vh;
    width: 49%;
    box-shadow: inset 10px 10px 200px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    border: solid 1px white;
    margin-left: 5px;
    cursor: pointer;
}
.business-websites-container p{
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 20px;
    font-weight: 400;
}

.container6{
    height: 70vh;
    display: flex;
    justify-content: center;
    background-color: gray;
}
.contacts-container{
    height: 70vh;
    width: 70%;
    display: flex;
    align-items: center;
}
.text-container{
    width: 40%;
}
.text-container h1{
    font-size: 80px;
    font-weight: 900;
    line-height: 0.8;
}
.text-container p{
    font-size: 25px;
    font-weight: 200;
}
.input-container input{
    height: 40px;
    width: 98%;
    border: solid thin black;
    margin-top: 5px;
    padding-left: 10px;
    font-size: 15px;
}
.text-container button{
    height: 30px;
    width: 26%;
    margin: 10px;
    border: solid thin gold;
    font-size: 20px;
    font-weight: 200;
    color: white;
    background-color: black;
    cursor: pointer;
}
.message-container{
    height: 47vh;
    width: 40%;
    display: flex;
    align-items: flex-end;
}
.message-container input{
    height: 20vh;
    width: 100%;
    padding-bottom: 110px;
    padding-left: 10px;
    font-size: 17px;
    border: solid thin black;
}

.footer-container{
    background-color: black;
    color: white;
}
.socials-container{
    height: 20vh;
    padding: 20px 80px;
}
.socials-container h2{
    font-weight: 300;
    font-size: 17px;
}
.footer-container p{
    font-weight: 200;
    font-size: 13px;
    text-align: center;
}
.social-media-logo img{
    height: 3vh;
    background-color: white;
}


@media only screen and (max-width: 767px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        width: 100%;
    }
    header{
        height: 4vh;
        width: 130%;
    }
    .logo-buttons-container{
        width: 100%;
    }
    .logo{
        font-size: 20px;
        margin-left: 7vh;
    }
    .navigation-buttons ul li a{
        font-size: 9px;
    }
    .container1{
        display: block;
        height: 70vh;
        width: 130%;
    }

    .home-wrap{
        width: 100%;
        display: block;
    }
    .introduction{
        width: 100%;
        height: 29vh;
        margin-top: 3vh;
    }
    .introduction h4{
        font-size: 16px;
        line-height: 20px;
        margin-left: 10vh;
    }
    .introduction h1{
        font-size: 50px;
        margin-left: 9vh;
    }
    .introduction p{
        font-size: 15px;
        width: 110%;
        line-height: 1.1;
        margin-left: 10vh;
    }
    .introduction button{
        height: 4vh;
        font-size: 12px;
    }
    .home-profile img{
        height: 40vh;
        margin-left: 10vh;
    }

    .container2{
        height: 60vh;
    }
    .about-container{
        height: auto;
        width: 100%;
    }
    .who-container{
        height: auto;
    }
    .who-container h1{
        font-size: 24px;
        width: 100%;
        margin-left: 5vh;
    }
    .who-container p{
        font-size: 17px;
        font-weight: 100;
        margin-left: 3vh;
    }
    .about-profile img{
        height: 40vh;
    }

    .container3{
        height: 100vh;
        display: block;
    }
    .container3 h1{
        text-align: center;
        font-size: 30px;
    }
    .do-things{
        width: 100%;
    }
    .things-container h2{
        font-size: 16px;
    }
    .things-container2 h4{
        font-size: 15px;
        line-height: 0.7;
    }
    .hobbies{
        margin-top: 32vh;
    }
    .talents{
        margin-top: 17vh;
    }
    .container4-text{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.289);
    }
    .container4-text h1{
        font-size: 18px;
    }
    .container4-text h3{
        font-size: 15px;
    }

    .container5{
        padding-top: 40px;
        text-align: center;
        font-size: 7px;
        height: 80vh;
    }
    .projects-container{
        width: 100%;
    }
    .projects-container p{
        font-size: 10px;
    }
    .projects-row1{
        height: 15vh;
    }
    .cloning-work-container{
        width: 100%;
        height: 10vh;
    }
    .cloning-work-container img{
        height: 8vh;
        width: 100%;
    }
    .business-websites-container{
        height: 10vh;
        width: 100%;
        box-shadow: inset 12px 12px 15px black;
    }
    .business-websites-container img{
        height: 2.4vh;
        width: 100%;
    }

    .container6{
        height: auto;
    }
    .contacts-container{
        width: 97%;
    }
    .text-container h1{
        font-size: 50px;
    }
    .text-container p{
        font-size: 14px;
    }
    .input-container input{
        height: 4vh;
        font-size: 10px;
    }
    .message-container{
        margin-bottom: 5vh;
    }
    .text-container button{
        height: 4vh;
        width: 70%;
        font-size: 12px;
        border-radius: 7px;
    }
    .message-container input{
        padding-bottom: 16vh;
        padding-left: 1vh;
        margin-left: 1vh;
        font-size: 13px;
    }
    .socials-container{
        height: auto;
        padding: 10px 20px;
    }
    .socials-container h2{
        font-size: 10px;
    }
    .social-media-logo img{
        height: 2vh;
    }
    .footer-container p{
        font-size: 10px;
    }
}