*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--primary-color);
}
:root{
    --primary-color: white;
    --secondary-color: black;
    --third-color: gray;
}
.dark-theme{
    --primary-color: black;
    --secondary-color: white;
    --third-color: gray;
}

header{
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 17%;
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 1;
}
header a{
    text-decoration: none;
}
header .title-logo{
    font-size: 1.4rem;
    color: rebeccapurple;
    font-weight: 900;
}
header .title-logo:hover{
    text-decoration: underline solid 2px blue;
}
#menu-icon{
    font-size: 3rem;
    color: rebeccapurple;
    display: none;
}
.navigation-buttons a{
    font-size: 1.1rem;
    color: var(--secondary-color);
    margin-left: 6vh;
    font-weight: 600;
}
.navigation-buttons a:hover,
.navigation-buttons .active
{
    color: rebeccapurple;
    text-decoration: underline solid 5px rebeccapurple;
}

#light{
    font-size: 1.5rem;
    position: absolute;
    right: 26vh;
    top: 2vh;
    width: fit-content;
    display: none;
    cursor: pointer;

}
#dark{
    font-size: 1.5rem;
    position: absolute;
    right: 36vh;
    top: 2vh;
    width: fit-content;
    cursor: pointer;
    color: var(--secondary-color);
}

.main-container{
    padding: 9vh 15%;
}
.main-container p{
    color: var(--secondary-color);
}
.manga-container{
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 3vh;
    padding-top: 1vh;
    font-weight: 500;
    color: white;
}
.manga-text{
    cursor: pointer;
}
.manga-container img{
    height: 35vh;
}
.manga-container a{
    text-decoration: none;
    color: black;
}
.manga-container .chapters{
    color: gray;
}

.clicker-container{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.76);
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    padding: 4vh 1%;
    position: fixed;
    z-index: 1;
}
.clicker-container img{
    height: 60vh;
}
.clicker-container .watch-now{
    position: absolute;
    bottom: 29vh;
    left: 4vh;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    width: 15%;
    height: fit-content;
}
.clicker-container .watch-now:hover{
    text-decoration: underline solid 5px;
}
.bx-play{
    position: absolute;
    font-size: 2.2rem;
    bottom: 29vh;
    left: 22.5vh;
    color: white;
}
.hidden{
    display: none;
}
.summary{
    font-size: 0.9rem;
    position: absolute;
    left: 42vh;
    top: 12vh;
    width: 10%;
    text-align: center;
    height: 4vh;
    border-radius: 6px;
    padding-top: 4px;
    color: black;
    background-color: rebeccapurple;
}
.about-manga{
    width: 65%;
}
.about-manga h1{
    margin-left: 2vh;
}
.about-manga p{
    margin-top: 6vh;
    margin-left: 2vh;
    color: white;
}
.read-more-container{
    position: relative;
    margin-top: 4vh;
    padding-left: 2vh;
    width: fit-content;
    font-weight: 700;
}
.read-more-container i{
    font-size: 1.4rem;
    position: absolute;
    top: 0.3vh;
    left: 15vh;
    color: white;

}
.bx-left-arrow-alt{
    position: absolute;
    top: 2vh;
    right: 4vh;
    font-size: 2.4rem;
    font-weight: 700;
    cursor: pointer;
    color: white;
}
.read-more-container a{
    text-decoration: none;
    color: white;
}
.read-more-container:hover a{
    text-decoration: underline solid 2px;
}

.add-container{
    height: 44vh;
    position: relative;
    cursor: pointer;
    background-color: var(--primary-color);
}
.add-container i{
    font-size: 2.5rem;
    background-color: rebeccapurple;
    color: white;
    border-radius: 100%;
    position: absolute;
    left: 11.4vh;
    top: 30%;
}
.add-container p{
    position: absolute;
    bottom: 0;
    left: 3vh;
    text-align: center;
    font-size: 1.1rem;
    color: var(--secondary-color);
}
.add-more{
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    padding: 4vh 1%;
    position: fixed;
    z-index: 1;
}
.add-more{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden2{
    display: none;
}

footer{
    margin-top: 10vh;
    height: 20vh;
    color: white;
    padding: 2vh 5%;
    text-align: center;
}
.socmeds span{
    font-weight: 900;
    font-size: 1.7rem;
    color: rebeccapurple;
}
.socmeds a{
    font-size: 1.6rem;
    color: white;
    background-color: gray;
    border-radius: 4px;
}
.copyright{
    color: gray;
    margin-top: 3vh;
    font-weight: 300;
    font-size: 1rem;
}


@media only screen and (max-width: 767px){
    *{
        margin: 0;
        padding: 0;
    }
    header .title-logo{
        font-size: 1rem;
        color: rebeccapurple;
        font-weight: 900;
    }

    #menu-icon{
        display: block;
        font-size: 2rem;
        margin-left: 12vh;
    }
    .navigation-buttons{
        position: absolute;
        width: 100%;
        height: 17vh;
        left: 0;
        top: 7vh;
        background-color: var(--primary-color);
        display: none;
    }
    .navigation-buttons a{
        display: block;
        font-size: 1rem;
        margin-left: 1vh;
    }
    .navigation-buttons a:hover,
    .navigation-buttons .active
    {
        color: rebeccapurple;
        text-decoration: underline solid 2px rebeccapurple;
    }
    .navigation-buttons.active{
        display: block;
    }
    #light{
        font-size: 1.4rem;
        left: 2vh;
        top: 11vh;
        cursor: pointer;
        width: fit-content;
    }
    #dark{
        font-size: 1.4rem;
        left: 2vh;
        top: 11vh;
        cursor: pointer;
        width: fit-content;
    }

    .main-container{
        padding: 1vh 5%;
    }

    .manga-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(16, 1fr);
        gap: 1vh;
        font-weight: 500;
    }

    .manga-container img{
        height: 16vh;
    }
    .manga-text p{
        font-size: 0.6rem;
    }

    .clicker-container{
        left: 0;
        top: 0;
        display: block;
    }
    .clicker-container img{
        height: 20vh;
    }
    .clicker-container .watch-now{
        position: absolute;
        top: 16vh;
        left: 15vh;
        font-size: 0.8rem;
        width: fit-content;
        text-decoration: underline solid 1.2px;
    }
    .clicker-container .watch-now:hover{
        text-decoration: none;
    }
    .bx-play{
        position: absolute;
        top: 16.1vh;
        left: 25.4vh;
        font-size: 1.4rem;
    }
    .hidden{
        display: none;
    } 
    .summary{
        left: 2vh;
        top: 25.4vh;
        font-size: 0.6rem;
        height: 3vh;
        width: 30%;
        border-radius: 3px;
    }
    .about-manga h1{
        margin-left: 2vh;
        font-size: 1rem;
        position: absolute;
        top: 8vh;
        left: 14vh;
        width: min-content;
    }
    .about-manga p{
        margin-top: 4vh;
        margin-left: 2vh;
        font-size: 0.6rem;
        width: 140%;
    }
    .read-more-container{
        margin-top: 2vh;
        font-size: 0.7rem;
    }
    .read-more-container i{
        font-size: 1rem;
        position: absolute;
        left: 11vh;
    }
    .bx-left-arrow-alt{
        font-size: 1.4rem;
    }
    .read-more-container a{
        text-decoration: underline solid 1px;
        color: white;
    }
    .read-more-container:hover a{
        text-decoration: none;
    }

    .add-container{
        height: 22vh;
        position: relative;
        cursor: pointer;
    }
    .add-manga h1{
        font-size: 2rem;
        width: fit-content;
        text-align: center;
    }
    .add-container i{
        font-size: 1rem;
        border-radius: 100%;
        top: 32%;
        left: 6vh;
    }
    .add-container p{
        text-align: center;
        font-size: 0.5rem;
        left: 0px;
        width: fit-content;
    }

    .socmeds span{
        font-size: 1rem;
    }
    .socmeds a{
        font-size: 1rem;
    }
    .copyright{
        margin-top: 5vh;
        font-weight: 400;
        font-size: 0.5rem;
    }
}